<div>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 IQ Tutoring, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>

<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/API" class="nav-link px-2 text-muted"> API </a></li>
      <li class="nav-item"><a href="mailto:iamqaasim@gmail.com?subject=Become%20a%20Tutor&body=Hi%0D%0A%0D%0AMy%20name%20is%20%5Binsert%20name%5D.%20I%20would%20like%20to%20apply%20for%20a%20%5Binsert%20subject%2Fs%5D%20tutoring%20position.%0D%0A%0D%0A%5BBrief%20description%20of%20yourself%5D%0D%0A%0D%0APlease%20see%20attached%20CV%20below" class="nav-link px-2 text-muted"> Become a Tutor </a></li>
      <li class="nav-item"><a href="mailto:iamqaasim@gmail.com?subject=General%20inquiries&body=Hi%0D%0A%0D%0AMy%20name%20is%20%5Binsert%20name%5D.%0D%0AI%20would%20like%20to%20inquire%20about%20%5Bstate%20inquiries%5D" class="nav-link px-2 text-muted"> Contact Us </a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 IQ Tutoring, Inc</p>
  </footer>
</div>