<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <a 
        class="navbar-brand" 
        href="/"> 
        IQ 
      </a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarsExample05" 
        aria-controls="navbarsExample05" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/API"> API </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:iamqaasim@gmail.com?subject=Become%20a%20Tutor&body=Hi%0D%0A%0D%0AMy%20name%20is%20%5Binsert%20name%5D.%20I%20would%20like%20to%20apply%20for%20a%20%5Binsert%20subject%2Fs%5D%20tutoring%20position.%0D%0A%0D%0A%5BBrief%20description%20of%20yourself%5D%0D%0A%0D%0APlease%20see%20attached%20CV%20below"> Become a Tutor </a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/all" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All Programs
          </a>
          <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="#">ALL</a></li>
            <li><a class="dropdown-item" href="#">High School</a></li>
            <li><a class="dropdown-item" href="#">University</a></li>
            <li><a class="dropdown-item" href="#">Programing</a></li>
            <li><a class="dropdown-item" href="#">Specializing</a></li>
          </ul>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="height: 56px">
  </div>